{% extends 'base.html' %}
 {% block content %}

<div id="login" style="margin-top: 100px;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="row">

            <div class="modal-content col-sm-12 col-lg-12 col-md-12">
                <div class="modal-body customer-box">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li><a>Create Question</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-pane" id="Registration">
                        <form id="questionForm" class="form-horizontal" data-course-url="{% url 'ajax_load_course'%}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <!-- <input class="form-control" placeholder="Name" type="text" /> -->
                                    {{ form.title }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{form.full_mark}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{form.difficulty_level}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{form.course}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{form.media }} {{form.body}}
                                </div>
                            </div>
                            <!-- {{form.media }}
                        {{form.as_p}} -->
                            <div class="row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_course").load(function() {
        const url = $("#questionForm").attr("data-course-url"); // get the url of the `load_cities` view

        $.ajax({ // initialize an AJAX request
            url: url, // set the url of the request (= /persons/ajax/load-cities/ 
            success: function(data) { // `data` is the return of the `load_cities` view function
                $("#id_course").html(data); // replace the contents of the city input with the data that came from the server
            }
        });

    });
</script>

{% endblock content %}