{% extends 'base.html' %}
{%load tags%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card overflow-auto">
                <div class="card-body">
                    <h3 class="card-title text-center ">
                        <b>Port City International University</b>
                        </h2>
                        <h4 class="card-title text-center "><b>{{question.term_name}}, {{question.semester}}</b></h2>
                            <div style="display: flex; justify-content: space-evenly ">
                                <p><b>Course Code: </b>{{question.course|CourseCode}}</p>
                                <p style="text-align: right "><b>Course Title: </b>{{question.course}}</p>
                            </div>
                            <div style="display: flex; justify-content: space-evenly ">
                                <p><b>Department: </b>{{question.department}}</p>
                                <p style="text-align: right "><b>Batch: </b>{{question.batch}}</p>
                            </div>
                            <div style="display: flex; justify-content: space-evenly ">
                                <p><b>Time: </b>{{question.duration}}hour</p>
                                <p style="text-align: right "><b>Full Mark: </b>{{question.full_mark}}</p>
                            </div>
                            <p class="card-text text-center ">{{question.body|safe}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}