{% comment %} <!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Hello, world!</title>
    <style>
        .navbar-fixed-top,
        .navbar-fixed-bottom {
            position: fixed;
            /* <-- Look here */
            right: 0;
            left: 0;
            z-index: 1030;
        }
    </style>
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card overflow-auto">
                    <div class="card-body">
                        <h3 class="card-title text-center ">
                            <b>Port City International University</b>
                            </h2>
                            <h4 class="card-title text-center "><b>{{term_name}}, {{semester}}</b></h2>
                                <div style="display: flex; justify-content: space-evenly ">
                                    <p><b>Course Code: </b>{{course_code}}</p>
                                    <p style="text-align: right "><b>Course Title: </b>{{course}}</p>
                                </div>
                                <div style="display: flex; justify-content: space-evenly ">
                                    <p><b>Department: </b>{{department}}</p>
                                    <p style="text-align: right "><b>Batch: </b>{{batch}}</p>
                                </div>
                                <div style="display: flex; justify-content: space-evenly ">
                                    <p><b>Time: </b>{{duration}}hour</p>
                                    <p style="text-align: right "><b>Full Mark: </b>{{full_mark}}</p>
                                </div>
                                <p class="card-text text-center ">{{body|safe}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>

    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html> {% endcomment %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, world!</title>

</head>

<body>

    <div style="width: 300px;margin: 0 auto;">
        <h3 style="text-align: center;">
            <b>Port City International University</b>
        </h3>
        <h4 style="text-align: center;"><b>{{term_name}}, {{semester}}</b></h4>
            <div style="display: flex; justify-content: space-around;">
                <p><b>Department: </b>{{department}}</p>
                <p style="text-align: right "><b>Batch: </b>{{batch}}</p>
            </div>
            <div style="display: flex; justify-content: space-around">
                <p><b>Course Code: </b>{{course_code}}</p>
                <p style="text-align: right "><b>Course Title: </b>{{course}}</p>
            </div>
    
            <div style="display: flex; justify-content: space-around">
                <p><b>Time: </b>{{duration}}hour</p>
                <p style="text-align: right "><b>Full Mark: </b>{{full_mark}}</p>
            </div>
            <p style="padding: 5px;">{{body|safe}}</p>
    </div>


</body>

</html>