<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, world!</title>

</head>

<body>

    <div style="width: 300px;margin: 0 auto;">
        <h3 style="text-align: center;">
            <b>Port City International University</b>
        </h3>
        <h4 style="text-align: center;"><b>{{term_name}}, {{semester}}</b></h4>
            <div style="display: flex; justify-content: space-around;">
                <p><b>Department: </b>{{department}}</p>
                <p style="text-align: right "><b>Batch: </b>{{batch}}</p>
            </div>
            <div style="display: flex; justify-content: space-around">
                <p><b>Course Code: </b>{{course_code}}</p>
                <p style="text-align: right "><b>Course Title: </b>{{course}}</p>
            </div>
    
            <div style="display: flex; justify-content: space-around">
                <p><b>Time: </b>{{duration}}hour</p>
                <p style="text-align: right "><b>Full Mark: </b>{{full_mark}}</p>
            </div>
            <p style="padding: 5px;">{{body|safe}}</p>
    </div>


</body>

</html>